.container-radious{
    border-radius: 0.625rem;
}

.height-80{
    height: 80vh;
}

.bg-gradient{
    background-image: url('../images/wallet-gradient-2.png');
}

 .main-title{
    color: var(--Color-black, #000);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: end;
    padding-right: 3rem;
 }

 .date{
    color: #919EAB;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: IRANSans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 166.667% */
 }

 .caption{
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-family: IRANSans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
 }

 .transaction-item{
    /* padding: rem; */
    width: 45.375rem;
    height: 4.5rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--Color-white, #FFF);

    /* 01 Shadows/Light/z12 */
    box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
 }
 
 .transaction-title{
    color: var(--Color-black, #000);
    text-align: right;
    font-family: IRANSans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }

.status-success{
    color: var(--04-success-04-dark, #229A16);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: IRANSans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 166.667% */
}

.status-fail{
    color: var(--Color-primary, #c0090f);;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: IRANSans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 166.667% */
}

